* {
  box-sizing: border-box;
}

body, html {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  font-size: 12px;
  color: #444;

  height: 100%;
  padding: 0;
  margin: 0;
}

.bio-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  line-height: 40px;
  height: 50px;

  background: #EEE;
  border-bottom: solid 1px #666;
}

.bio-header > * {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  color: #52b415;
  font-size: 20px;
  text-decoration: none;
  margin: 5px 10px;
}

.current-file {
  float: right;
  font-family: monospace;
  margin: 5px 10px;
}

.bio-content {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

button[class*=" icon-"] {
  border: none;
  text-indent: -10000px;
}

#canvas {
  height: 50%;
}

#xml {
  height: 50%;
}

#xml textarea {
  width: 100%;
  height: 100%;
}

/** fonts **/

@font-face {
  font-family: 'bpmnio';
  src: url('../assets/font/bpmnio.eot?2633928');
  src: url('../assets/font/bpmnio.eot?2633928#iefix') format('embedded-opentype'),
       url('../assets/font/bpmnio.woff?2633928') format('woff'),
       url('../assets/font/bpmnio.ttf?2633928') format('truetype'),
       url('../assets/font/bpmnio.svg?2633928#bpmnio') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "bpmnio";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;
}

.icon-plus:before { content: '\e800'; }
.icon-loading:before { content: '\e801'; }
.icon-minus:before { content: '\e802'; }
.icon-open:before { content: '\e803'; }
.icon-picture:before { content: '\e804'; }
.icon-download:before { content: '\e805'; }
.icon-size-reset:before { content: '\e806'; }
.icon-bpmn-io:before { content: '\e807'; }
.icon-info:before { content: '\e808'; }
.icon-comment:before { content: '\e809'; }
.icon-undo:before { content: '\e80a'; }
.icon-redo:before { content: '\e80b'; }
.icon-plus-circled:before { content: '\e80c'; }
.icon-doc-new:before { content: '\e80d'; }
.icon-ccw:before { content: '\e80e'; }
.icon-cw:before { content: '\e80f'; }

/** animate spinner **/

.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
