
.icon-participant:before { content: '\e800'; } /* '' */
.icon-lasso-tool:before { content: '\e801'; } /* '' */
.icon-space-tool:before { content: '\e802'; } /* '' */
.icon-connection-multi:before { content: '\e803'; } /* '' */
.icon-plus-1:before { content: '\e804'; } /* '' */
.icon-loading:before { content: '\e805'; } /* '' */
.icon-minus:before { content: '\e806'; } /* '' */
.icon-menu-1:before { content: '\e807'; } /* '' */
.icon-picture:before { content: '\e808'; } /* '' */
.icon-new:before { content: '\e809'; } /* '' */
.icon-size-reset:before { content: '\e80a'; } /* '' */
.icon-data-store:before { content: '\e80b'; } /* '' */
.icon-info:before { content: '\e80c'; } /* '' */
.icon-comment-1:before { content: '\e80d'; } /* '' */
.icon-open:before { content: '\e80e'; } /* '' */
.icon-save-1:before { content: '\e80f'; } /* '' */
.icon-undo:before { content: '\e810'; } /* '' */
.icon-redo:before { content: '\e811'; } /* '' */
.icon-intermediate-event-catch-non-interrupting-timer:before { content: '\e812'; } /* '' */
.icon-start-event-message:before { content: '\e813'; } /* '' */
.icon-intermediate-event-none:before { content: '\e814'; } /* '' */
.icon-intermediate-event-catch-condition:before { content: '\e815'; } /* '' */
.icon-end-event-cancel:before { content: '\e816'; } /* '' */
.icon-service:before { content: '\e817'; } /* '' */
.icon-manual-task:before { content: '\e818'; } /* '' */
.icon-receive-task:before { content: '\e819'; } /* '' */
.icon-user:before { content: '\e81a'; } /* '' */
.icon-end-event-compensation:before { content: '\e81b'; } /* '' */
.icon-intermediate-event-catch-error:before { content: '\e81c'; } /* '' */
.icon-intermediate-event-throw-compensation:before { content: '\e81d'; } /* '' */
.icon-start-event-multiple:before { content: '\e81e'; } /* '' */
.icon-start-event-parallel-multiple:before { content: '\e81f'; } /* '' */
.icon-subprocess-collapsed:before { content: '\e820'; } /* '' */
.icon-connection:before { content: '\e821'; } /* '' */
.icon-subprocess-expanded:before { content: '\e822'; } /* '' */
.icon-start-event-signal:before { content: '\e823'; } /* '' */
.icon-start-event-none:before { content: '\e824'; } /* '' */
.icon-intermediate-event-throw-escalation:before { content: '\e825'; } /* '' */
.icon-intermediate-event-catch-escalation:before { content: '\e826'; } /* '' */
.icon-end-event-error:before { content: '\e827'; } /* '' */
.icon-ad-hoc-marker:before { content: '\e828'; } /* '' */
.icon-script-task:before { content: '\e829'; } /* '' */
.icon-send-task:before { content: '\e82a'; } /* '' */
.icon-compensation-marker:before { content: '\e82b'; } /* '' */
.icon-end-event-escalation:before { content: '\e82c'; } /* '' */
.icon-intermediate-event-catch-link:before { content: '\e82d'; } /* '' */
.icon-intermediate-event-catch-non-interrupting-condition:before { content: '\e82e'; } /* '' */
.icon-start-event-non-interrupting-condition:before { content: '\e82f'; } /* '' */
.icon-start-event-timer:before { content: '\e830'; } /* '' */
.icon-task:before { content: '\e831'; } /* '' */
.icon-bpmn-io:before { content: '\e832'; } /* '' */
.icon-text-annotation:before { content: '\e833'; } /* '' */
.icon-gateway-eventbased:before { content: '\e834'; } /* '' */
.icon-gateway-complex:before { content: '\e835'; } /* '' */
.icon-start-event-non-interrupting-escalation:before { content: '\e836'; } /* '' */
.icon-start-event-non-interrupting-message:before { content: '\e837'; } /* '' */
.icon-intermediate-event-throw-message:before { content: '\e838'; } /* '' */
.icon-intermediate-event-throw-link:before { content: '\e839'; } /* '' */
.icon-intermediate-event-catch-message:before { content: '\e83a'; } /* '' */
.icon-intermediate-event-catch-multiple:before { content: '\e83b'; } /* '' */
.icon-end-event-message:before { content: '\e83c'; } /* '' */
.icon-end-event-link:before { content: '\e83d'; } /* '' */
.icon-loop-marker:before { content: '\e83e'; } /* '' */
.icon-parallel-mi-marker:before { content: '\e83f'; } /* '' */
.icon-task-none:before { content: '\e840'; } /* '' */
.icon-user-task:before { content: '\e841'; } /* '' */
.icon-sequential-mi-marker-kopie:before { content: '\e842'; } /* '' */
.icon-end-event-multiple:before { content: '\e843'; } /* '' */
.icon-service-task:before { content: '\e844'; } /* '' */
.icon-intermediate-event-catch-non-interrupting-escalation:before { content: '\e845'; } /* '' */
.icon-intermediate-event-throw-multiple:before { content: '\e846'; } /* '' */
.icon-start-event-non-interrupting-multiple:before { content: '\e847'; } /* '' */
.icon-gateway-none:before { content: '\e848'; } /* '' */
.icon-gateway-or:before { content: '\e849'; } /* '' */
.icon-gateway-parallel:before { content: '\e84a'; } /* '' */
.icon-gateway-xor:before { content: '\e84b'; } /* '' */
.icon-intermediate-event-catch-non-interrupting-parallel-multiple:before { content: '\e84c'; } /* '' */
.icon-intermediate-event-catch-non-interrupting-message:before { content: '\e84d'; } /* '' */
.icon-start-event-non-interrupting-parallel-multiple:before { content: '\e84e'; } /* '' */
.icon-intermediate-event-throw-signal:before { content: '\e84f'; } /* '' */
.icon-start-event-compensation:before { content: '\e850'; } /* '' */
.icon-start-event-condition:before { content: '\e851'; } /* '' */
.icon-intermediate-event-catch-parallel-multiple:before { content: '\e852'; } /* '' */
.icon-intermediate-event-catch-non-interrupting-signal:before { content: '\e853'; } /* '' */
.icon-intermediate-event-catch-non-interrupting-multiple:before { content: '\e854'; } /* '' */
.icon-end-event-none:before { content: '\e855'; } /* '' */
.icon-end-event-signal:before { content: '\e856'; } /* '' */
.icon-end-event-terminate:before { content: '\e857'; } /* '' */
.icon-data-object:before { content: '\e858'; } /* '' */
.icon-data-input:before { content: '\e859'; } /* '' */
.icon-sub-process-marker:before { content: '\e85a'; } /* '' */
.icon-business-rule:before { content: '\e85b'; } /* '' */
.icon-manual:before { content: '\e85c'; } /* '' */
.icon-receive:before { content: '\e85d'; } /* '' */
.icon-script:before { content: '\e85e'; } /* '' */
.icon-intermediate-event-catch-signal:before { content: '\e85f'; } /* '' */
.icon-business-rule-task:before { content: '\e860'; } /* '' */
.icon-start-event-non-interrupting-signal:before { content: '\e861'; } /* '' */
.icon-data-output:before { content: '\e862'; } /* '' */
.icon-intermediate-event-catch-compensation:before { content: '\e863'; } /* '' */
.icon-call-activity:before { content: '\e864'; } /* '' */
.icon-start-event-escalation:before { content: '\e865'; } /* '' */
.icon-start-event-error:before { content: '\e866'; } /* '' */
.icon-intermediate-event-catch-cancel:before { content: '\e867'; } /* '' */
.icon-trash:before { content: '\e868'; } /* '' */
.icon-screw-wrench:before { content: '\e869'; } /* '' */
.icon-send:before { content: '\e86a'; } /* '' */
.icon-intermediate-event-catch-timer:before { content: '\e86b'; } /* '' */
.icon-start-event-non-interrupting-timer:before { content: '\e86c'; } /* '' */
.icon-save-normal:before { content: '\e86d'; } /* '' */
.icon-save-as:before { content: '\e86e'; } /* '' */
